.icon {
    width: 30px;
    height: 100%;
    flex-shrink: 0;
    background-image: url("/src/assets/img/color-hunt-icons.svg");
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 0;
    margin-left: -6px;
    margin-right: 2px;

    $icons: ("new": "-30", "popular": "-60", "random": "-90", "like": "-150");

    @each $name, $position in $icons {
        &.icon-#{$name} {
            background-position-x: #{$position}px
        }
    }
}

button, .button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 38px;
    background: transparent;
    border-radius: 10px;
    font-size: 14px;
    overflow: hidden;
    padding: 0 14px;
    cursor: pointer;

    &:hover, :focus {
        background-color: var(--grey-lighter);
    }

    &.stroke {
        border: 1px solid #ececec;
    }

    &.on {
        background-color: var(--grey-light);
        .icon {
            filter: brightness(0%);
            opacity: 0.9;
        }
        span {
            font-weight: 500;
        }
    }
}

// Item palette //
.palette-card {
    position: relative;

    .palette-colors {
        position: relative;
        display: block;
        max-width: 100%;
        border-radius: 10px;
        padding-bottom: 100%;
        margin-bottom: 14px;
        overflow: hidden;

        .color {
            position: absolute;
            width: 100%;
            transform-origin: top;
            background: grey;
            text-align: left;
            border-radius: 20px 20px 0 0;

            &.c0 {
                padding-bottom: 41%;
            }

            &.c1 {
                padding-bottom: 67%;
            }

            &.c2 {
                padding-bottom: 85%;
            }

            &.c3 {
                padding-bottom: 100%;
            }
        }

    }

    .flex {
        align-items: center;

        .date {
            flex-shrink: 0;
            font-size: .75rem;
            opacity: 0.7;
        }
    }

}