body {
    font-family: 'Inter', sans-serif;
    color: #1a1a1a;
    padding-top: 70px;
    margin: 0;

    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        background: transparent;
    }

}

// HEADER PART //
header {
    position: fixed;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 1px solid var(--grey-light);
    background: white;
    gap: 40px;
    padding: 10px 0;
    margin: 0 auto;

    .logo {
        min-width: 200px;
        padding: 0 20px;
        a {
            align-items: center;
            img {
                position: absolute;
            }

            span {
                font-size: 20px;
                font-weight: 500;
                margin-left: 50px;
            }
        }
    }

    .search {
        position: relative;
        display: flex;
        height: 38px;
        width: 100%;
        max-width: 100%;
        border: 1px solid #ececec;
        border-radius: 40px;
        box-sizing: border-box;
        overflow: hidden;

        .search-icon {
            position: absolute;
            left: 10px;
            transition: opacity .2s;
            z-index: 0;
        }

        input {
            height: 100%;
            border: 0;
            background: transparent;
            padding-left: 34px;
        }

    }

    .actions {
        min-width: 340px;
        max-width: 340px;

        img {
            height: 30px;
        }
    }

}

// MAIN PART //
main {

    .categories {
        min-width: 200px;
        overflow-y: scroll;
        padding: 0 20px;

        .categories-primary {
            border-bottom: 1px solid var(--grey-light);

            li {
                height: 42px;
                width: 100%;
                margin-bottom: 6px;
                a {
                    justify-content: flex-start;
                    width: 100%;
                    font-size: 1.1rem;
                }

            }
        }

        .categories-secondary {
            position: relative;
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 250px;
                background-image: linear-gradient(to top, white, transparent);
                pointer-events: none;
            }

            li {
                height: 30px;
                width: 100%;
                margin-bottom: 6px;
                a {
                    justify-content: flex-start;
                    width: 100%;
                    font-size: .75rem;
                    opacity: .8;
                }

            }
        }
    }

    #palettes-container {
        flex-grow: 1;
        grid-row-gap: 24px;
        padding: 5px 20px 30px;
    }

    aside {
        min-width: 340px;
        max-width: 340px;
        h1 {
            max-width: 240px;
            font-size: 1.1rem;
            line-height: 140%;
            font-weight: 500;
            margin: 0;
        }
        h2 {
            max-width: 240px;
            font-size: .75rem;
            font-weight: 400;
            line-height: 140%;
            border-bottom: 1px solid var(--grey-light);
            padding-bottom: 15px;
            margin-top: 10px;
        }
    }

}